<div class="navBar">
  <h1>MySoldier</h1>
  <a href="/register">Register</a>
  <a href="/login">Log in</a>
  <a href="/logout">Log out</a>
  <a href="/missions">Missions</a>
  <a href="/missions/add">Add Mission</a>
  <a href="/profile">Profile</a>
</div>