<div class="navBar">
  <h1>MySoldier</h1>
  <div class="adminSection">
    <a href="/admin">Admin Role</a>
    <a href="/admin/missions/add">Add Mission</a>
    <a href="/admin/soldiers">Show All Soldiers</a>
  </div>
  <div class="soldierSection">
    <a href="/users/profile">Soldier Role</a>
    <a href="/users/missions">Apply Missions</a>
  </div>
  <a href="/users/profile">Profile</a>
  <a href="/logout">Log out</a>
</div>