<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySoldier-Add Mission</title>
    <%- include('./partials/style.ejs') %>
</head>
<body>
    <%- include('./partials/nav-bar.ejs') %>
    <% if(errors){ %>
        <div class="errors">
            <% errors.split(',').forEach(el => { %>
                <p style="color: red;"><%= el %></p>
            <% }) %>
        </div>
    <% } %>
    <div class="card">
        <h1>Add New Mission</h1>
        <form action="/admin/missions/add" method="post">
            <label for="name">Mission Name:</label>
            <input type="text" name="name">
            <label for="location">Location:</label>
            <select name="location" id="location">
                <option value="" disabled selected>--Choose--</option>
                <option value="Ukraine">Ukraine</option>
                <option value="Syria">Syria</option>
                <option value="Qatar">Qatar</option>
                <option value="Lebanon">Lebanon</option>
                <option value="Afghanistan">Afghanistan</option>
            </select>
            <label for="point">Point:</label>
            <input type="number" name="point">
            <button>Add New Mission</button>
        </form>
    </div>
</body>
</html>