<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MySoldier</title>
  <%- include('./partials/style.ejs') %>
</head>
<body>
  <div class="navBar">
    <h1>MySoldier</h1>
    <a href="/register">Register</a>
    <a href="/login">Log in</a>
    <a href="/logout">Log out</a>
  </div>
  <% if(errors){ %>
    <% errors.split(',').forEach(error=>{ %>
      <p style="color: red;"><%= error %></p>
    <% }) %>
  <% } %>
</body>
</html>