<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySoldier-Admin</title>
    <%- include('./partials/style.ejs') %>
</head>
<body>
    <%- include('./partials/nav-bar.ejs') %>
    <div class="card center greet">
        <p>Welcome Admin!</p>
    </div>
</body>
</html>